<!--<div class="outer_teacher">-->
    <!--<div class="avatar_teacher"></div>-->
    <!--<div class="bubble_teacher"></div>-->
    <!--<div class="box_teacher">-->
        <!--<div class="character">清明时节雨纷纷，路上</div>-->
        <!--<img class="img" src="../img/student.png">-->
    <!--</div>-->
<!--</div>-->
<!--<div class="outer_student">-->
    <!--<div class="avatar_student"></div>-->
    <!--<div class="bubble_student"></div>-->
    <!--<div class="box_student">借问酒家何处有，牧童遥指杏花村</div>-->
<!--</div>-->
<div class="outer">
    <div mathjax-bind="role"></div>
</div>
<div class="footer">
    <div ng-shaow="choice">
        <div class="left">
            <div ng-repeat="choice in question.choices" class="choice" ng-click="submit($index)">{{choice}}</div>
        </div>
    </div>
    <div ng-show="!choice">
        <div class="left"></div>
        <div class="right"></div>
    </div>
</div>